body {
    background-color: #00568E;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: white;
}

.box-form {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1e293b;
    padding: 30px;
    border-radius: 12px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

/* Form Input and Button */
.input-group { display: flex; gap: 10px; margin-bottom: 20px; }
input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #334155;
    background: #0f172a;
    color: white;
}
#todo-input { flex: 2; }
#add-btn {
    font-size:large;
    background-color: #00568E;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}
.action-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.delete-all-btn{
    border:none;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 12px;
    cursor: pointer;
    background-color: #00568E;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Todo List Table */
table { width: 100%; border-collapse: collapse; border: 1px solid #334155; text-align: center; }
th { text-align: left; border-bottom: 2px solid #334155; border-right: 2px solid #334155; padding: 10px; text-align: center;}
td { padding: 10px; border-bottom: 1px solid #334155; border-right: 2px solid #334155; padding: 10px; text-align: center;}

/* Garis coret untuk tugas selesai */
.coret {
    text-decoration: line-through;
    color: #64748b;
    opacity: 0.6;
}

/* Footer Copyright */
.copyright {
    margin-top: 40px; /* Jarak dari tabel ke footer */
    padding-top: 20px;
    border-top: 1px solid #334155; /* Garis tipis transparan */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}